.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 40px;
  gap: 12px;
  max-width: 100%;
  border-radius: 90px;
  border: 0;
  word-break: break-word;
  text-align: center;
  vertical-align: center;
  transition: background-color .3s linear, opacity .3s linear, border .3s linear, color .3s ease;
  opacity: 1;
  padding: 12px 16px;
  @include typography_button-small;

  &__star {
    display: none;

    path {
      transition: .3s ease;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: initial;
  }

  &_icon-left {
    flex-direction: row-reverse;

    & .button__star {
      display: block;
    }
  }

  &_icon-right {
    & .button__star {
      display: block;
    }
  }

  &_small {
    @include typography_button-small;
    padding: 12px 16px;
    height: 40px;
    &.button_icon-only {
      padding: 8px;
    }
  }

  &_medium {
    @include typography_button-default;
    padding: 16px 24px;
    height: 48px;

    &.button_icon-only {
      padding: 12px;
    }
  }

  &_primary {
    background-color: $cl-primary-yellow;
    @include typography_cl-gray-800;

    & .button__star {
      path {
        fill: $cl-gray-700;
      }
    }

    &:hover {
      opacity: 0.75;
    }

    &:disabled {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), $cl-primary-yellow;
      opacity: 0.5;
    }
  }

  &_light {
    background-color: transparent;
    @include typography_cl-gray-100;

    & .button__star {
      path {
        fill: $cl-gray-500;
      }
    }

    &:hover {
      background-color: $cl-gray-700;

      & .button__star {
        path {
          fill: $cl-gray-100;
        }
      }
    }

    &:disabled {
      background-color: $cl-gray-700;
      opacity: 0.5;

      & .button__star {
        path {
          fill: $cl-gray-100;
        }
      }
    }
  }

  &_dark {
    border: 2px solid $cl-gray-500;
    background-color: $cl-gray-800;
    @include typography_cl-gray-100;

    & .button__star {
      path {
        fill: $cl-gray-100;
      }
    }

    &:hover {
      border: 2px solid $cl-gray-100;
      background-color: $cl-gray-100;
      @include typography_cl-gray-700;

      & .button__star {
        path {
          fill: $cl-gray-700;
        }
      }
    }

    &:disabled {
      background-color: $cl-gray-100;
      border: 2px solid $cl-gray-100;
      opacity: 0.5;
      @include typography_cl-gray-700;

      & .button__star {
        path {
          fill: $cl-gray-700;
        }
      }
    }
  }

  &_icon-only {
    font-size: 0;
    gap: 0;

    & .button__star {
      display: block;

      width: 24px;
      height: 24px;
    }
  }
}