//base styles for site
* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: $font-roboto;
  color: $cl-gray-100;
}

body {
  background: $cl-gray-800;
}

.global-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.site-content {
  padding: 24px 0;

  @include media-lg {
    padding: 65px 0;

  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.p-0 {
  padding: 0;
}


.container {
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 100%;
  transition: .3s linear;
  padding: 0 10px;

  @include media-md {
    max-width: 768px;
  }

  @include media-lg {
    max-width: 1024px;
  }

  @include media-xl {
    max-width: 1200px;
  }
}
