//fonts
$font-gilroy: 'Gilroy-Bold', sans-serif;
$font-gilroy-regular: 'Gilroy-Regular', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-poppins: 'Poppins', sans-serif;;

//breakpoint
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1200px;

//colors

$cl-gray-800: #141416;
$cl-gray-700: #23262F;
$cl-gray-600: #353945;
$cl-gray-500: #777E91;
$cl-gray-400: #B1B5C4;
$cl-gray-300: #E6E8EC;
$cl-gray-200: #F4F5F6;
$cl-gray-100: #FCFCFD;

$cl-primary-yellow: #FFC737;
$cl-primary-blue: #3772FF;
$cl-primary-pink: #9757D7;
$cl-primary-orange: #FF6838;
$cl-primary-green: #58BD7D;

$cl-secondary-yellow: #FFD166;
$cl-secondary-blue: #4BC9F0;
$cl-secondary-200: #E4D7CF;
$cl-secondary-100: #CDB4DB;